*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
 /* @@@@@@@@@@@@hover@@@@@@@@@@@@@@@ */
.cggdsTGbfb{
    background: url(../img/DxRqwcyX0AAnta8.png)no-repeat center/cover;
    width: 100%;
    height: 443px;
}

.wsaFvvdegvb{
    font-size: 41px;
    color: #fff;
    padding-top: 48px;
    margin-left: 52px;
    
}


.drghdrfe{
    background: #fff;
}

.nkj{
    font-size: 30px;
    color: #336666;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 69px;
}
.lider123{
    display:flex;
    
}

.jk{
    font-size: 16px;
    color: #333333;
    max-width: 250px;
    padding-bottom: 100px;
    
}

.jhfjfh1{
   margin-left: 370px; 
}
.jhfjfh2{
    margin-left: 40px;
}
.jhfjfh3{
    margin-left: 40px;
}
.jhfjfh4{
    margin-left: 40px;
}
.zapomni{
    font-size: 24px;
    color: #336666;
    text-align: center;
    
}
.inner{
    display: flex;
    justify-content: space-evenly
}

.cgg{
    background: url(../img/png-1.4.png)no-repeat center/cover;
    width: 100%;
}
.wsaFvvdeg{
    color:#fff;
        text-align: center;
}
